html,
body,
h1,
h2,
h3,
h4,
h5,
p,
button {
  font-family: "Lato", sans-serif;
}

body {
  max-width: 1500px;
  margin: auto;
}

.header {
  background-color: black;
  color: white;
  font-size: 12px;
  position: sticky;
  top: 0;
  z-index: 5;
  &__nav {
    display: inline-block;
  }

  &__nav-item {
    display: inline-block;
    font-weight: bold;
    a {
      color: white;
    }
    margin: 0 1em;
  }
  &__right-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__login-button {
    font-weight: bold;
    color: white;
    background-color: #ff704b;
    height: 40px;
    padding: 0 1em;
    border-radius: 20px;
    margin: 0 2em;
  }
  &__login-button-icon {
    width: 20px;
    display: inline-block;
    margin-right: 0.6em;
  }
}

.hero {
  position: relative;
  background-color: black;
  color: white;
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    margin: 0.8em;
  }
  &__purchase-button {
    color: white;
    font-size: 1.2em;
    padding: 0.5em 2em;
    border: 2px solid white;
    border-radius: 30px;
  }
  &__dots {
    position: absolute;
    bottom: 0;
    margin: 1em;
  }
}
.covid-banner {
  background-color: white;

  &__content {
    text-align: center;
    width: 65%;
    margin: 2.5em auto;
  }
  &__heading {
    font-size: 32px;
  }
  &__text {
    font-size: 18px;
  }
}
.new-releases {
  background-color: #111111;
  color: white;
  padding: 2rem;
  &__content {
    width: 80%;
    margin: auto;
  }
  &__title {
    margin-bottom: 2rem;
  }
  &__button {
    margin-bottom: 2rem;
    background-color: white;
    padding: 1em;
    border-radius: 30px;
  }
  &__button-icon {
    margin: 0 1em;
    vertical-align: middle;
  }
  &__button-wrapper {
    text-align: right;
  }

  &__carousel-title {
    font-size: 1em;
  }

  .slick-list {
    padding: 0 10% 0 0 !important;
  }
  .slick-slide {
    margin-right: 1em;
  }
}

.star-wars {
  background-color: purple;
}
.gallery {
  background-color: orange;
}
.contact {
  background-color: green;
}
.footer {
  background-color: black;
}
