html,
body,
h1,
h2,
h3,
h4,
h5,
p,
button {
  font-family: "Lato", sans-serif;
}

body {
  max-width: 1500px;
  margin: auto;
}

.header {
  background-color: black;
  color: white;
  font-size: 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.header__nav {
  display: inline-block;
}

.header__nav-item {
  display: inline-block;
  font-weight: bold;
  margin: 0 1em;
}

.header__nav-item a {
  color: white;
}

.header__right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login-button {
  font-weight: bold;
  color: white;
  background-color: #ff704b;
  height: 40px;
  padding: 0 1em;
  border-radius: 20px;
  margin: 0 2em;
}

.header__login-button-icon {
  width: 20px;
  display: inline-block;
  margin-right: 0.6em;
}

.hero {
  position: relative;
  background-color: black;
  color: white;
}

.hero__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  margin: 0.8em;
}

.hero__purchase-button {
  color: white;
  font-size: 1.2em;
  padding: 0.5em 2em;
  border: 2px solid white;
  border-radius: 30px;
}

.hero__dots {
  position: absolute;
  bottom: 0;
  margin: 1em;
}

.covid-banner {
  background-color: white;
}

.covid-banner__content {
  text-align: center;
  width: 65%;
  margin: 2.5em auto;
}

.covid-banner__heading {
  font-size: 32px;
}

.covid-banner__text {
  font-size: 18px;
}

.new-releases {
  background-color: #111111;
  color: white;
  padding: 2rem;
}

.new-releases__content {
  width: 80%;
  margin: auto;
}

.new-releases__title {
  margin-bottom: 2rem;
}

.new-releases__button {
  margin-bottom: 2rem;
  background-color: white;
  padding: 1em;
  border-radius: 30px;
}

.new-releases__button-icon {
  margin: 0 1em;
  vertical-align: middle;
}

.new-releases__button-wrapper {
  text-align: right;
}

.new-releases__carousel-title {
  font-size: 1em;
}

.new-releases .slick-list {
  padding: 0 10% 0 0 !important;
}

.new-releases .slick-slide {
  margin-right: 1em;
}

.trailer__right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trailer__content {
  width: 70%;
}

.trailer__heading {
  font-size: 32px;
}

.trailer__text {
  font-size: 18px;
}

.trailer__button {
  background-color: black;
  color: white;
  padding: 1em;
  border-radius: 30px;
}

.trailer__arrow {
  margin: 0 1em 0 0.5em;
}

.gallery__image {
  padding: 1em;
}

.contact {
  background-color: green;
}

.footer {
  background-color: black;
}
/*# sourceMappingURL=index.css.map */