body {
  max-width: 1500px;
  margin: auto;
}

.header {
  background-color: black;
  color: white;
}

.hero {
  background-color: yellow;
}
.covid {
  background-color: pink;
}
.carousel {
  background-color: blue;
}
.star-wars {
  background-color: purple;
}
.gallery {
  background-color: orange;
}
.contact {
  background-color: green;
}
.footer {
  background-color: black;
}
